doctype html
html
	head
		title= title
		link(link href='http://fonts.googleapis.com/css?family=Ubuntu|Pacifico' rel='stylesheet' type='text/css')
	body
		if(username)
			p Remembered you! click here to 
				a(href="/forget") forget.
			p= username
		else
			form(method="post")
				| Check to 
				input(type="Checkbox" name="remember")
				| remember me. 
				input(type="text" name="usernameSubmit")
				input(type="submit" value="submit")