extends hintLayout

block content
	.gamecontainer
		div(style="font-size:35px") Your hint was: "#{session.heldHintObject.hintText}"
		div(style="font-size:13px") Hint supplied by: #{session.heldHintObject.author}
		<br />
		br/
		if(session.correctImage == session.guessedImage)
			|Nice! You guessed correctly!
			|You get a coin! 
			<img height="40px" width="40px" src="/images/coin.gif">
			br/
			br/
		else 
			|Your guess was incorrect.
			br/
			br/
		table
			tr
				//td.border
				td.hintContainer(style="width:300px") 
					|Correct image 
					br/
					.imgbox <img position="relative" src=#{session.correctImage} class="hintimg success">
				//td.border
				td.hintContainer(style="width:300px")
					|Chosen image'
					br/
					.imgbox <img src=#{session.guessedImage} class="hintimg success">
				td
					a(href="/guess" class="butt") Guess again!
		