extends helpLayout

block content
	#windowWrap(ng-controller="HelpPageController as helpCtrl")
		.helpNavBox(style="float:right" ng-click="helpCtrl.goForward()" ng-show="(helpCtrl.selectedPage < 5)")
			b Continue!
		.helpNavBox(style="float:left" ng-click="helpCtrl.goBackward()" ng-show="(helpCtrl.selectedPage > 0)")
			b Go Back!
		.queuePage(ng-show="helpCtrl.selectedPage !== 5")
			.cardNum.both
				{{helpCtrl.selectedPage+1}}
				x(style="font-size:30px") /5
			.cardTitle.both
				{{helpCtrl.texts[helpCtrl.selectedPage]}}
				img(src="{{helpCtrl.pages[helpCtrl.selectedPage]}}").cardImg
		.queuePage(ng-show="helpCtrl.selectedPage === 5")
			.cardNumFinalPage Get started! 
			br/
			br/
			a(href="/guess").noDecoLink.helpButt 
				|<img class="bannerCoinIcons" style="height:40px;width:auto;" src="images/--1-coin.png"> Make a guess! 
			br/
			br/
			br/
			br/
			a(href="/hint").noDecoLink.helpButt 
				|<img class="bannerCoinIcons" style="height:40px;width:auto;" src="images/minus2coins.png"> Make a hint! 
