extends hintLayout

block content
	#windowWrap
		.successContainer
			.queuePage
				.cardNumWide
					strong You made a hint! Great job!
				table
					tr
						td
							.imgbox(style="width:250px") <img src="#{session.submittedHintImg}" class="successImage"> 
						td
							div(style="text-indent:40px") Your hint was: "#{session.submittedHint}"