extends hintLayout

block content
	#windowWrap
		.queuePage
			div(style="font-size:55px;padding:40px;") You made a hint!
			.hintContainer(style="width:600px; padding-left:50px;") 
				.imgbox(style="max-width:250px" class="success") <img src="#{session.submittedHintImg}" class="hintimg"> 
				|Your hint was: "#{session.submittedHint}"
				br/
				br/
				br/
			a(href="/hint" class="butt") Make another hint!