extends registerLayout

block content
	#windowWrap
		.queuePage
			br/
			.title(style="float:none")
				strong Successfully registered!<br />
			br/
			br/
			br/
			a(href="/help" style="font-size:40px").butt How to play
