doctype html
html
	head
		title= title

		link(link href='http://fonts.googleapis.com/css?family=Ubuntu|Pacifico' rel='stylesheet' type='text/css')

		link(rel='stylesheet', href='/stylesheets/main stylesheet.css')
		link(rel='stylesheet', href='/stylesheets/register stylesheet.css')

		script(script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(script src="javascripts/startHintAndGuessButtonsJquery.js")
		
	body
		include banner
		block content
