extends registerLayout

block content
	#windowWrap
		.queuePage
			.queueTable
				#leftColumn
					#leftColumnTitle Welcome!
					img(src="images/hinternet icon big.png").leftColumnIcon
				#rightColumn.splashRightColumn
					|Hinternet is a game that uses random <br />
					|images from the internet.<br /> <br />
					|To win, just match the hint you're <br />
					|given with the correct image. <br /> <br />
					a.noDecoLink.butt(href="/help") How to play
