/*for hint page*/
#scrollDownDialog{
	float:right;
	background-color: #55AA55;
	margin-top:200px;
	margin-right:100px;
	padding:50px;
	width:100px;
	text-align: center;
	border-radius:20px; 
	border-radius-bottom:50px;
}
.cardImg{
	margin-left: 60px;
	
	height:170px;
	width:auto;
}
.cardImgThirdLine{
	margin: 20px;
	margin-top:10px;
	margin-left: 100px;
	/*this is for card images on cards with two lines of text*/
	height:140px;
	width: auto;
}
.helpText{
	font-size: 25px;
}
.helpTextThirdLine{
	font-size: 25px;
	padding-top:20px;
}
#a{ 
	z-index: 0; 
	top:220px;
}
#b{ 
	z-index: 1; 
	top:660px;
}
#c{ 
	z-index: 2; 
	top:1100px;
}
#d{ 
	z-index: 3; 
	top:1540px;
}
#e{
	z-index: 4;
	top:1980px;
}
#f{
	z-index: 5;
	top: 2420px;
	margin-bottom: 40px;
	border-width-bottom: 400px;
}
#g{
	z-index: 0;
	top: 2560px;
}
.navButt{
	background-color: #55AA55;
	border-radius:40px;
	border-bottom-right-radius:140px;
	
	width: 260px;
	height: 30px;

	margin:20px;
	margin-left:80px;

	padding:3px;
	padding-left:10px;

	vertical-align: middle;
}
#getStarted{
	width:500px;
	margin:40px;
	margin-top:30px;
}
