body{
	margin:0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size:20px;
}
/*
Global
*/
.error{
	font-size:13px;
	line-height: 15px;
	text-align: center;
}
.butt{
	background-color: #55AA55;

	font-size: 25px;
	font-weight: bold;
	color: black;
	text-decoration: none;
	
	border-style: solid;
	border-radius:40px;
	border-bottom-right-radius:140px;
	border-width: 2px;
	border-color: #FFF;
	border-radius: 30px 30px 140px;
	
	margin:40px;
	margin-left:40px;

	padding:10px;
	padding-left:30px;
	padding-right: 50px;

	vertical-align: middle;
}
.noDecoLink{
	color: black;
	text-decoration: none;

}
/*
Banner
*/
#bannerWrapper{
	background-color: #55AA55;
	margin: 15px;
	width: 93%;
	min-width: 1200px;
	/*height: 150px;*/
	position:fixed;
	z-index: 5;
	top:0px;

	border-style:solid;
	border-width:2px;
	border-color:#ffffff;
	border-radius:20px;
	border-bottom-right-radius:170px;
	padding-left: 40px;
	height:125px;
}
.title{
	position: relative;
	padding-top:10px;
	font-size: 50px;
	font-family: 'Pacifico', cursive;
	float:left;

	text-indent:10px;
	min-width: 700px;
}
#bannerNavButtonWrapper{
	/*height: 150px;*/
	position:fixed;
	z-index: 6;
	top:0px;
	width:800px;

	margin-left:40px;
	margin-top:110px;
}
.bannerNavButton{
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	color: #000000	;
	text-decoration: none;

	float:left;
	text-align: left;
	text-indent: 15px;

	width: 200px;
	
	margin:10px;
	padding:10px;
	
	border-style:solid;
	border-width:2px;
	border-color:#ffffff;
	border-radius:30px;
	border-bottom-right-radius:140px;

	background-color: #88cc88;

	vertical-align: middle;
}
.bannerCoinIcons{
	height:27px;
	width:51px;
	vertical-align: middle;
}
.login{
	float:right;
	width: 400px;
	margin:0px;
	height:100px;
}
.loginSubDiv{
	float:left;

	display:inline-block;
	width:100px;
	height:100px;
	margin-top:0px;
}
.bannerLogoutButton{
	font-size:15px;
	font-family: 'Ubuntu', sans-serif;

	vertical-align:middle;
	text-align:left;

	width:80px;
	height:30px;

	border-style:solid;
	border-width:2px;
	border-color:#ffffff;
	border-radius:30px;
	border-bottom-right-radius:140px;

	background-color:#88cc88;
}
.coin {
	position: relative;
	font-size:30px;
	text-indent: 10px;
	top: 50%;
	width:60px;
}

/*
Queue page stuff
*/
#windowWrap{ margin-top:180px; }
.queuePage{
	position:absolute;
	width:70%;
	height:60%;
	min-width: 800px;
	min-height: 300px;
	padding-bottom: 10%;

	left:10%;
	margin:1%;
	padding:1%;

	background-color: #88cc88;
	border-style: solid;
	border-width: .5%;
	border-color: #ffffff;
	border-radius: 40px;
	border-bottom-right-radius: 400px;
	line-height: 1.1;

	font-family: 'Ubuntu', sans-serif;

	z-index: 0;
}
.queueTable{
	width: 100%;
	height: 100%;
}
#leftColumn {
	height:100%;
	width: 30%;
	min-height: 300px;
	min-width: 200px;
	float:left;
	padding-right: 4%;
}
#leftColumnTitle{
	font-size: 60px;
	margin:auto;	
	font-family: 'Pacifico', cursive;	
	width: auto;
	height: 20%;
	padding:10%;
	min-width: 222px;
}
.leftColumnIcon{
	margin:auto;
	display: block;
	height: 60%;
	width: auto;
}
#rightColumn {
	height: 100%;
	width: 60%;
	min-width: 300px;
	float:left;
	font-size: 30px;
}

/*
page-specific: splash
*/
.splashRightColumn{
	padding-top: 5%;
}
/*
page-specific: help
*/

/*.navButt{
	background-color: #55AA55;
	border-radius:40px;
	border-bottom-right-radius:140px;

	font-size:27px;
	font-family: 'Ubuntu', sans-serif;
	text-indent: 20px;
	text-align: left;

	width: 250px;
	height:60px;

	margin:10px;
	
	border-style:solid;
	border-width:2px;
	border-color:#ffffff;

	padding:8px;
	padding-left:10px;
}
*/
.registerRightColumn{
	padding-top: 7%;
	display: block;
	padding-right: 10%;	
	font-size: 22px;
	text-align: center;
	width: 80%;
}
.registerRightColumnPadding{
	padding: 1%;
}
.registerRightColumnForm{
	padding-top: 3%;
}
/*
register confirm
*/
.registerConfirmButt{
	font-size: 35px;

}
